body {
    background-color: black;
    color: #97FFF4;
}
.container {
    margin-top: 50px;
}
.form-group label {
    color: #97FFF4;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.img-thumbnail {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
}

.recommended-songs {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
}

.song-item {
    margin: 10px;
}

.song-info {
    text-align: center;
}

.song-title {
    margin-top: 5px; 
    font-size: 14px;
}
