<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MELONOTES</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styleya.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h2 class="mt-4 text-center" >🎶 MELOTENOTES 🎶</h2>
    <form action="/suggested" method="post">
        <div class="form-group">
            <label for="song_genre">Song Genre</label>
            <select class="form-control" name="song_genre" id="song_genre">
                {% for x, i in genre_label.items() %}
                    <option value="{{ x }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="preferred">Preferred</label>
            <select class="form-control" name="preferred" id="preferred">
                {% for x, i in preferred.items() %}
                    <option value="{{ x }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">SUGGEST</button>
    </form>
</div>
{% if recommended_songs %}
<div class="container mt-4">
    <h3>Recommended Songs</h3>
    <ul class="list-unstyled recommended-songs">
        {% for song_title, song_image in recommended_songs %}
        <li class="song-item">
            <div class="song-info">
                <img src="{{ url_for('static', filename=song_image) }}" alt="{{ song_title }}" class="img-thumbnail">
                <div class="song-title">{{ song_title }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</body>
</html>
